@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-lightGray text-dark antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight font-bold text-dark;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F3F3F3;
}
::-webkit-scrollbar-thumb {
  background: #0C0C0C;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}
